<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Waste Sorting Guide</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <!--<script src="https://cdnjs.cloudflare.com/ajaz/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
  <!--<script src="https://maxcdn.bootsrapcdn.com/bootsrap/4.0.0/js/bootstrap.min.js"></script>-->
  <!--<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>-->
  <link href="{{url_for('static', filename='homeStyle.css')}}" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-text"><strong>Binz</strong></a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-tarhet="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
  </button>-->
    <div  id="navbarResponsive">
      <ul class="navbar-nav ml-auto" style="display: inline;">
        <li class="nav-item" style="float: right; margin: 0 7px;">
          <a class="nav-link" href="deleet">Delete</a>
        </li>
        <li class="nav-item" style="float: right; margin: 0 7px;">
          <a class="nav-link" href="logout">Logout</a>
        </li>
    </div>
  </div>
</nav>

<!--Main boxes-->
<div class="row" style="margin: 0;">
  <div class="col-md-5">
    <div class="desc-wrap">
    <div class="descriptionBx">
      <h1>Welcome to Binz!</h1>
      <br>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for msg in messages %}
                  <p style="color: #CC0000;">{{msg}}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
      <br><p>Do you ever spend time at the waste bins trying to figure out where things belong? This app was designed to help you! Based on how you answer questions about a specific object, this app will give you guidance on what bin to put certain objects in.</p><br><p>In this situation right now? click the start button! Want to learn more about the waste sorting process, check out the resources at <a href="https://recyclesmartma.org/" style="color:#73E8C9">this link.</a> Happy sorting!</p>
    </div>
    <div class="welcomeBx">
      <button onclick="window.location.href = 'sort1'" type="button" class="btn1">
      <div class="start-message">Start sorting!
      </div>
      </button>
    </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="user-wrap">
    <div class="userBx">
      <div class="card">
        <div class="table-head">
        <h4>Leader Board</h4>
        </div>
        <div class="table-contents">
        <table>
          <tr>
            <th>Rank</th>
            <th>User</th>
            <th>Points</th>
          </tr>
          <tr>
            <td style="background-color: rgba(115,232,201,0.4)">#1</td>
            <td style="background-color: rgba(115,232,201,0.4)">{{firstuser}}</td>
            <td style="background-color: rgba(115,232,201,0.4)">{{firstpoints}}</td>
          </tr>
          <tr>
            <td style="background-color: rgba(115,232,201,0.3)">#2</td>
            <td style="background-color: rgba(115,232,201,0.3)">{{seconduser}}</td>
            <td style="background-color: rgba(115,232,201,0.3)">{{secondpoints}}</td>
          </tr>
          <tr>
            <td style="background-color: rgba(115,232,201,0.2)">#3</td>
            <td style="background-color: rgba(115,232,201,0.2)">{{thirduser}}</td>
            <td style="background-color: rgba(115,232,201,0.2)">{{thirdpoints}}</td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-3">
    <div class="user-wrap">
    <div class="userBx">
      <div class="card">
        <h1 style="font-size: max(170%, 3.2vw)">{{name}}</h1>
        <p class="points" style="font-size: min(170%, 25px);">{{points}} points</p>
        <p class="label" style="font-size: min(200%, 15px);">thoughtful planet person</p>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>
</html>
